{% extends 'ADMIN/index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
      <style>
        th{color: orangered;text-align: center}
        td{color: white}
    </style>
</head>

<body><form action="/AC_post" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table width="200" border="1" class="table table-hover">
        <tr>
            <th>Course</th>
            <td><select name="select"  class="form-control" required >
                {% for i in data %}
                    <option value="{{ i.id }}">{{ i.Course_Name }}</option>
                {% endfor %}
            </select> </td>
        </tr>
  <tr>
    <th scope="row">Year</th>
    <td>
      <input type="text" name="textarea" id="textarea" class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row">File</th>
    <td>
      <input type="file" name="filefield" id="filefield" accept=".xls, .xlsx" class="form-control" required /></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"><div align="center" ><input type="submit" name="button" id="button" value="Submit" class="btn btn-danger" /></div></th>
    </tr>
</table>
</form>
</body>
</html>
{% endblock%}