<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
  <li><a href="/View_collage">College approval</a></li>
  <li><a href="/View_approved_collage">Approved college</a></li>
  <li><a href="/Courses">Add course</a></li>
  <li><a href="/View_Course">View courses</a></li>
  <li><a href="/Notifications">Add Notification </a></li>
  <li><a href="/View_Notification">View Notification</a></li>
  <li><a href="/View_Student">View Student</a></li>
  <li><a href="/Academic_Calender">Add Academic Calendar</a></li>
  <li><a href="/admin_view_academic_calendar">View Academic Calendar</a></li>
    <li><a href="/Exan_timetablee">Add Exam timetable</a></li>
    <li><a href="/View_Exan_timetable">View Exam timetable</a></li>
    <li><a href="/Research_articles">Research Articles</a></li>
    <li><a href="/View_Research_article">View Research Articles</a></li>


</ul>
</body>
</html>
