{% extends 'ADMIN/index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="200" border="1" class="table table-hover">
  <tr style="color:orangered;text-align: center">
    <th scope="col">#</th>
    <th scope="col">Author</th>
    <th scope="col">Date</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr style="color: white">
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.Author }}</td>
    <td>{{ i.date }}&nbsp;</td>
      <td><a href="{{i.Article }}#admin" target="_blank" class="btn btn-success" style="width: 90%;">View file</a></td>
    <td><a href="/delete_rech/{{ i.id }}#admin" class="btn btn-danger" style="width: 90%;">Delete</a></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}