{% extends "college/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <style>
        th{color: orangered;text-align: center}
        td{color: white}
    </style>
</head>

<body>
<form action="/add_student_post" method="post">
    {% csrf_token %}
    <h2 class="text-center">ADD HERE!!</h2>

<table width="200" border="1" class="table table-hover">
  <tr>
    <th scope="row">Name</th>
    <td>
      <input type="text" name="textfield" id="textfield"  class="form-control" required/></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>
      <input type="email" name="textfield2" id="textfield2" class="form-control" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control" required pattern="" /></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td>
      <input type="number" name="textfield3" id="textfield3" class="form-control" required pattern="[6789][0-9]{9}" maxlength="10" /></td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row">Age</th>
    <td>
      <input type="number" name="textfield5" id="textfield5" class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row">Course</th>
    <td>
       <select name="crse">
           {% for i in data %}
            <option value="{{ i.COURSE.id }}">{{ i.COURSE.Course_Name }}</option>
           {% endfor %}
        </select>
  </tr>
  <tr>
    <th scope="row">Semester</th>
    <td>
        <select name="sem">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
  </tr>
    <tr>
    <th scope="row">Register Number</th>
    <td>
      <input type="number" name="textfield6" id="textfield6" class="form-control" required/></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><div align="center">
        <input type="submit" name="SUBMIT" id="SUBMIT" value="Add" class="btn btn-danger" /></div>
    </th>
  </tr>
</table>
</form>

</body>
</html>
{% endblock %}