<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
  <li><a href="/view_profile">Profile</a></li>
  <li><a href="/clg_view_course">View Course</a></li>
  <li><a href="/clg_View_Notification">Notifications</a></li>
  <li><a href="/clg_view_academic_calendar">Academic Calendar</a></li>
  <li><a href="/clg_View_Exan_timetable">View Exam Timetable</a></li>


</ul>
</body>
</html>
