{% extends "college/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<style>
    th{text-align: center;color: orangered}
    td{color: white}
</style>

<body>
<form action="/view_prof_update/{{ data.id }}" method="post">
    {% csrf_token %}

<table width="200" border="1" class="table table-hover text-white">
  <tr>
    <th scope="row">Name</th>
            <td><input type="text" name="textfield" id="textfield"  class="form-control" value="{{ data.name }}" required/></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
           <td> <input type="email" name="textfield2" id="textfield2" class="form-control"  value="{{ data.email }}"  readonly pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control" required pattern="" /></td>

  </tr>
  <tr>
    <th scope="row">Phone</th>
        <td>   <input type="number" name="textfield3" id="textfield3" class="form-control" value="{{ data.phone }}" required pattern="[6789][0-9]{9}" maxlength="10" /></td>

  </tr>
  <tr>
    <th scope="row">Place</th>
<td>            <input type="text" name="textfield4" id="textfield4" class="form-control" required  value="{{ data.place }}"  /></td>

  </tr>
  <tr>
    <th scope="row">Post</th>
           <td> <input type="text" name="textfield5" id="textfield5" class="form-control" required  value="{{ data.post }}"  /></td>

  </tr>
  <tr>
    <th scope="row">Pin</th>
          <td>  <input type="text" name="textfield6" id="textfield6" class="form-control" required  value="{{ data.pin }}"  /></td>

  </tr>
    <tr>
    <th colspan="2" scope="row"><div align="center">
        <input type="submit" name="SUBMIT" id="SUBMIT" value="Update" class="btn btn-danger" /></div>
    </th>
  </tr>
</table>
</form>

</body>
</html>
{% endblock%}