{% extends "college/index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="200" border="1" class="table table-hover">
  <tr style="color:orangered;text-align: center">
    <th scope="col">#</th>
    <th scope="col">Notification</th>
    <th scope="col">Date</th>
  </tr>
    {% for i in data %}
  <tr class="text-white">
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.Notification }}</td>
    <td>&nbsp;{{ i.date }}</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}